* {
  margin: 0; /* Identar */
}


html {
  clear: both;
}

html, body {
  height: 100%;
}

body .overlay {
  background-image: url("../images/new/circulos-bokeh.png");
  background-repeat: no-repeat;
  min-height: 100%;
  height: auto !important;
  height: 100%; /* Porque definiu height duas vezes no mesmo seletor? */
  margin: 0 auto -210px;
}

.overlay .push {
  height: 210px;
}

.overlay .body-blog { 
  background-color rgb(240, 240, 240);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 15px;
}

.boxshadow .overlay .body-blog {  
  -webkit-box-shadow: 0px 2px 5px 0.4px rgb(0, 0, 0);
  -moz-box-shadow: 0px 2px 5px 0.4px rgb(0, 0, 0);
  box-shadow: 0px 2px 5px 0.4px rgb(0, 0, 0);  
}

.cssgradients .body-blog {
  background: -moz-linear-gradient(top,  rgb(240,240,240) 0%, rgb(255,255,255) 8%, rgb(255,255,255) 90%, rgb(240,240,240) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,240,240)), color-stop(8%,rgb(255,255,255)), color-stop(90%,rgb(255,255,255)), color-stop(100%,rgb(240,240,240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(240,240,240) 0%,rgb(255,255,255) 8%,rgb(255,255,255) 90%,rgb(240,240,240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(240,240,240) 0%,rgb(255,255,255) 8%,rgb(255,255,255) 90%,rgb(240,240,240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(240,240,240) 0%,rgb(255,255,255) 8%,rgb(255,255,255) 90%,rgb(240,240,240) 100%); /* IE10+ */
  background: linear-gradient(top,  rgb(240,240,240) 0%,rgb(255,255,255) 8%,rgb(255,255,255) 90%,rgb(240,240,240) 100%); /* W3C */
}

.borderradius .body-blog {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
}

.sidebar .some-users {
  clear: both;
  display: block;
  float: right;
} 


.body-blog .sidebar {
  float: right;
  margin-top: 50px;
}

.sidebar .some-users .about-us {
  overflow: hidden;
}

.sidebar .some-users .about-us .link-member:before {
  content: "";
  float: left;
  width: 32px;
  height: 32px;
  background: url("../images/new/missing_users_thumb_32.png") no-repeat;
  padding: 0px;
  margin-top: 15px;
  margin-left: 7px;
}  

.sidebar .some-users .about-us .link-member:hover {
  color: rgb(0, 0, 0);
}

.sidebar .some-users .about-us .member .link-member {
  padding: 11px;
}

.sidebar .box-marks {
  float: right;
  background-color: rgb(255, 238, 215);
  margin-left: 4px; 
  margin-top: 20px;  
  padding-bottom: 10px;
}

.sidebar .box-marks .marks .mark {
  padding: 10px;
}

.sidebar .box-marks .marks .mark a {
 color: rgb(255, 169, 53);
 font-size: 12px;
 font-weight: bold;
 font-family: arial, sans-serif;
 text-decoration: none;
}

.sidebar .box-marks .marks .mark a:hover {
  color: rgb(213, 94, 0);
}

.sidebar .box-marks .marks .title {
  font-family: museo-sans, arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgb(255, 169, 53);
  padding: 8px;
  letter-spacing: -2px;
}
  
.boxshadow .sidebar .box-marks { 
  -webkit-box-shadow: -3px 3px 0px 0px rgb(255, 169, 53);
  -moz-box-shadow:  -3px 3px 0px 0px rgb(255, 169, 53);
  box-shadow:  -3px 3px 0px 0px rgb(255, 169, 53);
}

.borderradius .sidebar .box-marks {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}
  
.sidebar .box-marks .marks {
  clear: both;
  float: right;
}
 
.box-marks .marks mark {
  padding-bottom: 5px;
  margin-left: 8px;
  padding: 10px;
}

.sidebar .files {
  float: right;
  background-color: rgb(219, 239, 247);
  margin-left: 4px;
  margin-top: 20px;
}

.boxshadow .sidebar .files {
  -webkit-box-shadow: -3px 3px 0px 0px rgb(21, 138, 196);
  -moz-box-shadow:  -3px 3px 0px 0px rgb(21, 138, 196);
  box-shadow:  -3px 3px 0px 0px rgb(21, 138, 196);
}

.borderradius .sidebar  .files {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}
  

.sidebar .files .title {
  letter-spacing: -2px;
  padding: 8px;
  font-family: museo-sans, arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgb(77, 173, 214);
}

.files .years .month {
  padding: 5px;
}
  
.files .month a,
.files .years {
  text-decoration: none;
  color: rgb(77, 173, 214);
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.files .years .month a{
  margin-left: 16px;
}

.files .years .year {
  margin-left: 8px;
  padding: 4px;
}

.sidebar .partners {
  letter-spacing: -2px;
  clear: both;
  float: right;
}

.partners .partner-pd {
  width: 100px;
  height: 50px;
  background-image: url("../images/new/parceiro-pd.png");
  margin-top: 8px;
  text-indent: -9999px;
}

.partners .partner-for {
  width: 100px;
  height: 50px;
  background-image: url("../images/new/parceiro-for.png");
  float: right;
  margin-left: 31px;
  margin-top: -50px;
  text-indent: -9999px;
  
}

.partners .partner-ccte {
  width: 150px;
  margin-left: -12px;
  margin-top: 20px;
  height: 50px;
  background-image: url("../images/new/parceiro-ccte.png");
  text-indent: -9999px;
}

.partners .partner-cns {
  width: 100px;
  height: 50px;
  background-image: url("../images/new/parceiro-cns.png");
  float: left;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  margin-top:10px;
}

.partners .partner-ccte a,
.partners .partner-pd a,
.partners .partner-cns a,
.partners .partner-for a {
  display: block;
  height: 50px;
  text-indent: -9999px;
}

.overlay .logo-top {
  width: 353px;
}

.overlay .logo-top .imagem {
  position: relative;
}

.overlay .logo-top .imagem a {
  background-image: url("../images/new/redu-hi-horiz.png");
  background-repeat: no-repeat; 
  height: 147px;
  width: 353px;
  float: left;
  margin-top: 0;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

.logo-top .tecoteco {
  position: absolute;
  float: right;
  width: 369px;
  height: 286px;
  background-image: url("../images/new/tecoteco.png");
  margin-left: 700px;
  text-indent: -9999px;
  display: block;
}

.logo-top .imagem .blog {
  display:block;
  float: right;
  margin-top: -40px;
  margin-right: 30px;
  font-size: 47px;
  color: rgb(115, 195, 230);
  font-weight: 100;
  font-family: museo-sans, arial, sans-serif;
}

.textshadow .logo-top .blog {
  text-shadow: 0px 1px rgb(255, 255, 255);
}

.body-blog .box-posts .posts .date {
  font-family: museo-slab, arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: rgb(179, 179, 179);
  float: left;
  margin-left: 0;
}

.textshadow .body-blog .posts .date {
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

.body-blog .posts .post .add-informations {
  font-size: 12px;
  color: rgb(179, 179, 179);
  font-family: arial, sans-serif;
}

.body-blog .posts .post .box-title {
  background-color: rgb(240, 240, 240);
}

.boxshadow .posts .post .box-title {
  -webkit-box-shadow: inset 0px 1px 0px rgb(255, 255, 255), inset 0px -1px 0px rgb(204, 204, 204);
  -moz-box-shadow: inset 0px 1px 0px rgb(255, 255, 255), inset 0px -1px 0px rgb(204, 204, 204);
  box-shadow: inset 0px 1px 0px rgb(255, 255, 255), inset 0px -1px 0px rgb(204, 204, 204);
}

.borderradius .posts .post .box-title {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.posts .post .author {
  margin: 20px 20px 20px 0px;
}

.posts .post .box-title .title {
  font-family: museo-slab, arial, sans-serif;
  font-size: 30px;
  color: rgb(77, 173, 214);
  line-height: 28px;
  font-weight: 500;
  padding: 10px;
  letter-spacing: -2px;
  text-decoration: none;
}

.posts .post .tags .tag  {
  background-color: rgb(255, 238, 215);
  color: rgb(255, 169, 53);
  padding: 3px;
  margin-top: 16px;
  float: right;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.posts .post .tag:hover {
  background-color: rgb(255, 124, 53);
  color: rgb(255, 255, 255);
}

.textshadow .posts .post .tag:hover {
  text-shadow: 0px -1px rgb(243, 74, 0);
}

.posts .post .link-author {
  color: rgb(77, 173, 214);
  font-family: arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}

.textshadow .posts .post .tag .link-author {
  text-shadow: 0px 1px rgb(219, 239, 247);
}

.textshadow .posts .post .tag {
  text-shadow: 0px 1px rgb(255, 255, 255);
}

.borderradius .posts .post .tag {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.boxshadow .posts .post .tag {
  -webkit-box-shadow: 1px 1px 0px 0px rgb(255, 169, 53);
  -moz-box-shadow: 1px 1px 0px 0px rgb(255, 169, 53);
  box-shadow: 1px 1px 0px 0px rgb(255, 169, 53);
}

.posts .post .tags {
  float: right;
  margin-right: 30px;
}

.posts .post .tags a {
  text-decoration: none;
  overflow: hidden;
  margin-left: 5px;
  padding: 4px;
  display: block;
}

.posts .post .text-box {
  float: right;
  padding-right: 10px;
}

.posts .post .text-box .text {
  border-bottom: dotted gray 1px;
  padding-bottom: 40px;
  line-height: 18px;
  font-size: 13px;
  font-family: arial, sans-serif;
  font-weight: normal;
} 

.overlay .footer,  
.overlay .push {
clear: both;
}

.body-blog .posts .post {
  margin-top: 40px;
  float: right;
  clear: both;
}

.posts .post .date {
  float:left;
  clear: both;
  font-family: museo-slab, arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.sidebar .some-users .about-us {
  font-family: museo-sans, arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgb(97, 160, 128);
}

.body-blog .sidebar .some-users {
  background-color: rgb(225, 241, 225);
  margin-top: 60px;
}

.body-blog .sidebar .some-users a { 
  text-decoration: none;
  color: rgb(97, 160, 128);
  font-weight: 500;
  font-family: museo-sans, arial, sans-serif;
  font-size: 15px;
}

.boxshadow .body-blog .sidebar .some-users {
  -webkit-box-shadow: -3px 3px 0px 0px rgb(97, 160, 128);
  -moz-box-shadow:  -3px 3px 0px 0px rgb(97, 160, 128);
  box-shadow:  -3px 3px 0px 0px rgb(97, 160, 128);
}

.borderradius .body-blog .sidebar .some-users {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.sidebar .some-users .about-us .member .description {
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
  font-family: museo-slab, arial, sans-serif;
  color: rgb(109, 110, 111);
  float: right;
  margin-top: 3px;
  line-height: 14px;
}

.textshadow .body-blog .sidebar {
  text-shadow: 0px 1px rgb(255, 255, 255);
}

.sidebar .partners .title {
  margin-top: 20px;
  padding: 8px;
  font-family: museo-sans, arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgb(204, 204, 204);
}

.posts .post .day {
  font-size: 30px;
  font-weight: 300;
}

.imagens-inferior .zepi {
  width: 274px;
  height: 309px;
  background-image: url("../images/new/zepi.png");
  float: left;
  display: block;
  float: right;
  margin-top: -289px;
  margin-left: -60px;
  position: absolute;
  text-indent: -9999px;
}

.imagens-inferior .html5 {
  float: right;
  width: 165px;
  height: 65px;
  background-image: url("../images/new/html5-badge-css-semantics.png");
  background-repeat: no-repeat;
  display: block;
  margin-top: -100px;
  text-indent: -9999px;
}

.body-blog .read-more { 
  color: rgb(77, 173, 214);
  font-size: 12px;
  font-weight: normal;
  font-family: arial, sans-serif;
  text-decoration: none;
}

.body-blog .show-more a {
  text-decoration: none;
  color: rgb(77, 173, 214);
  overflow: hidden;
  display: block;
}

.body-blog .show-more {
  margin-left: 290px;
  height: 16px;
  width: 100px;
  padding: 5px 38px 5px 38px;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: solid 1px rgb(179, 179, 179);
  background: rgb(255,255,255);
  margin-top: 80px;
  margin-bottom: 30px;
}

.icon-seta-gray_8_12-before:before {
  content: "";
  width: 15px;
  float: left;
  height: 12px;
  background: url("../images/new/icones-p.png") -477px -1679px 	repeat;
}

.textshadow .body-blog .show-more {
  text-shadow: 0px 1px rgb( 255, 255, 255);
}

.borderradius .body-blog .show-more {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.cssgradients .body-blog .show-more {
  background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(230,230,230) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(230,230,230))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 100%); /* IE10+ */
  background: linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 100%); /* W3C */
}

.posts .post .informations {
  float: right;
  clear: both;
  margin-right: 10px;
}

.posts .post .title:hover, 
.posts .post .link-author:hover,
.posts .post .read-more:hover, 
.sidebar .files .month a:hover,
.body-blog .show-more a:hover {
  color: rgb(21, 138, 196);
}

.posts .post .box-title:hover {
  background: rgb(219,239,247);
}

.cssgradients .posts .post .box-title:hover {
  background: -moz-linear-gradient(top,  rgb(219,239,247) 0%, rgb(240,240,240) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(219,239,247)), color-stop(100%,rgb(240,240,240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(219,239,247) 0%,rgb(240,240,240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(219,239,247) 0%,rgb(240,240,240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(219,239,247) 0%,rgb(240,240,240) 100%); /* IE10+ */
  background: linear-gradient(top,  rgb(219,239,247) 0%,rgb(240,240,240) 100%); /* W3C */
}

.body-blog .sidebar .some-users .stop-here {
  font-size: 12px;
  color: rgb(97, 160, 128);
  font-family: arial, sans-serif;
  text-align: center;
  padding: 24px 20px;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 10px 20px 10px;
}

.body-blog .sidebar .some-users .stop-here:hover {
  background-color: rgb(95, 192, 128);
  color: rgb(255, 255, 255);
}

.borderradius .body-blog .sidebar .some-users .stop-here:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.textshadow .body-blog .sidebar .some-users .stop-here:hover {
  text-shadow: 0px 1px rgb(92, 160, 128);
}

.footer {
  border-top: 1px solid white;
  height: 210px;
  background-color: rgb(77,173,214);
  min-width: 1035px;
  margin-top: 150px;
}

.cssgradients .footer {
  background: -moz-linear-gradient(top, rgb(115,195,230) 0%, rgb(23,137,195) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(115,195,230)), color-stop(100%,rgb(23,137,195))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%);
}

.footer .logo-bottom a {
  height: 212px;
  overflow: hidden;
  display: block;
}

.footer .logo-bottom {
  width: 240px;
  height: 77px;
  background-image: url("../images/new/redutech-low-horiz-a.png");
  margin-left: -18px;
}

.footer .presentation-call {
  font-family: arial, sans-serif;
  height: 72px;
  width: 287px;
  font-size: 11px;
  float: left;
  color: white;
  line-height: 15px;
}

.footer .our-address {
  margin-left: 60px;
  background-image: url("../images/new/icone-interrog-12.png");
  background-repeat: no-repeat;
  width: 133px;
  height: 72px;
  float: left;
  margin-top: 0;
  padding-top: 21px;
  font-family: arial, sans-serif;
  font-style: italic;
  font-size: 11px;
  color: white;
}

.textshadow .footer .presentation-call,
.textshadow .footer .our-address {
  text-shadow: 0 -1px 0 rgb(21, 138, 196);
}

.footer  .about-redu {
  margin-left: 200px;
  width: 130px;
  height: 62px;
  float: left;
  font-size: 13px;
}

.footer .politics-terms {
  width: 150px;
  height: 62px;
  float: left;
  font-size: 13px;
}

.footer a {
  height: 62px;
  font-size: 12px;
  color: white;
  font-family: arial, sans-serif;
  text-decoration: none;
}

.textshadow .footer a {
  text-shadow: 0 1px 0 rgb(109, 110, 111);
}

.textshadow .footer a:hover {
  text-shadow: none;
}

.footer .item-menu {
  padding: 5px;
}

.footer .item-menu a {
  padding: 5px;
}

.borderradius .footer .item-menu a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.boxshadow  .footer  .item-menu a:hover {
  -webkit-box-shadow: 0 1px 0 0 rgb(109, 110, 111);
  -moz-box-shadow: 0 1px 0 0 rgb(109, 110, 111);
  box-shadow: 0 1px 0 0 rgb(109, 110, 111);
}

.footer .item-menu a:hover {
  background-color: white;
  color: rgb(21,138,196);
}
