<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Redu</title>
    <link href="../stylesheets/960.css" rel="stylesheet" type="text/css"/>
    <link href="../stylesheets/reset.css" rel="stylesheet" type="text/css"/>
    <link href="../stylesheets/styleblog.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.noisy.js" type="text/javascript"></script> 
    <script src="../javascripts/background.js" type="text/javascript"></script>
    <script src="../javascripts/modernizr.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://use.typekit.com/lpo4rgu.js"></script>
    <script type="text/javascript">try{ Typekit.load(); }catch(e){}</script> 
  </head>
  <body>
    <div class="overlay">
      <div class="body container_16">
        <div class="logo-top">
          <div class="imagem">
            <a href="http://www.redu.com.br">Redu</a> 
            <span class="blog">blog</span> 
          </div>
          <span class="tecoteco">Teco Teco</span>        
        </div>
        <div class="body-blog omega alfa grid_16">
          <div class="posts-page">
            <ul class="itens-posts-page">
             <li class="post-page"><a  href="http://#">blog</a><span class="bar"> /</span></li>
             <li class="post-page"><a  href="http://#">post</a><span class="bar"> /</span></li>
            </ul>
          </div>      
          <div class="box-posts omega alfa grid_12">
            <ol class="posts omega alfa">
              <li class="post grid_12 omega alfa">
                <span class="date grid_1 omega alfa"><span class="day">22</span> mai 2011</span>
                <div class="box-title grid_11 alfa omega">
                  <a href="http:#" class="title grid_10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
                </div>
                <div class="grid_11 omega alfa informations">
                  <div class="author alfa omega grid_4">
                    <span class="add-informations">por <a href="http://" class="link-author">  Anderson Duarte</a><span class="add-informations"> às 19:30</span></span>
                  </div>
                  <ul class="tags omega grid_3"> 
                   <li>
                     <a href="http://#" class="tag">Tecnologia</a>
                   </li> 
                   <li>
                     <a href="http://#" class="tag">Educacional</a>    
                   </li>        
                  </ul>
                </div>
                <div class="text-box text-box-post alfa omega grid_11"> 
                  <p class="text-heading alfa omega">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet enim lacus. Donec suscipit lorem nec arcu tristique adipiscing. Aliquam non quam in erat sollicitudin dapibus. In tempus dictum arcu, sed interdum augue porttitor a. Vestibulum dictum dolor quis erat bibendum consequat. Vestibulum dapibus, nisl id dignissim lobortis, turpis mi viverra lorem, iaculis iaculis dolor sapien non nunc. Vivamus sagittis, nulla non consequat pretium, lectus lacus sollicitudin magna, vel tempor.</p>
                  <h2 class="heading-2">Heading 2</h2>
                  <p class="text-heading">Etiam imperdiet luctus dignissim. Aenean eget porttitor elit. Nullam eget sagittis ligula. Mauris vulputate placerat odio sit amet convallis. Nam vitae molestie nisi. Integer pretium odio at neque adipiscing id ullamcorper mauris interdum. Mauris lacinia vehicula purus id molestie. Pellentesque bibendum diam quis nisi tristique et blandit urna varius. Morbi at ipsum nisl, non commodo orci. Nunc dolor est, semper quis accumsan a, ullamcorper sed tortor. Praesent sem felis, dictum eu mollis nec, tristique iaculis magna. Cras vel nunc elit. Donec ullamcorper erat vel ipsum luctus tincidunt.</p>
                  <h3 class="heading-3">Heading 3</h3>
                  <p class="text-heading">Donec id convallis augue. Nullam pharetra ante ut tortor euismod interdum. Sed tortor nisl, condimentum gravida semper vitae, tincidunt ac nulla. Quisque faucibus ligula sed risus rutrum faucibus. Etiam id nisl ipsum, vel consectetur diam. Etiam in metus quis massa pharetra fermentum. Etiam in urna dictum sem pellentesque varius et eget mi. Sed sed lorem urna. Duis elit elit, feugiat vel porta aliquam, scelerisque sit amet dolor. Quisque sed arcu ac enim dapibus aliquet. Ut sed dignissim velit. Etiam convallis, risus elementum facilisis venenatis, purus mauris tempus est, sit amet consequat magna libero vel odio. Proin vitae metus eget sem fermentum imperdieuimarãest.</p>
                  <ul class="disordered-list grid_3 alfa omega">
                    <li class="disordered">Lista não ordenada</li>
                    <li class="disordered">Lista não ordenada</li>
                  </ul>
                  <ol class="ordered-list grid_3 alfa omega">
                   <li class="ordered">Lista Ordenada</li>
                   <li class="ordered">Lista Ordenada</li>
                  </ol>
                </div>
              </li>             
            </ol>
          </div>
          <div class="grid_4  alfa omega sidebar">
            <div class="box-marks alfa  grid_4">
              <ul class="marks alfa omega grid_4">
                <li class="title"> Marcadores </li> 
                <li class="mark">
                  <a href="http://#">Educação</a>
                </li>
                <li class="mark">
                  <a href="http://#">Redes Sociais</a>
                </li>
                <li class="mark">
                  <a href="http://#">Tecnologia</a>
                </li>
                <li class="mark">
                  <a href="http://#">Design</a>
                </li>
              </ul>
            </div>
            <div class="files grid_4">
              <h1 class="title">Arquivos</h1>
              <ul class="years">
                <li class="year">2011
                  <ul class="months">
                    <li class="month"><a href="http://#">Outubro</a></li> 
                    <li class="month"><a href="http://#">Novembro</a></li>
                    <li class="month"><a href="http://#">Dezembro</a></li>
                  </ul>
                </li>
                <li class="year">2012
                  <ul class="months">
                   <li class="month"><a href="http://#">Janeiro</a></li> 
                   <li class="month"><a href="http://#">Fevereiro</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <ul class="partners alfa grid_4"> 
              <li class="title">Parceiros</li>
              <li class="partner-pd omega alfa grid_2"><a href="http://#">pd</a></li> 
              <li class="partner-cns omega alfa grid_2"><a href="http://www.redu.com.br">cns</a></li>
              <li class="partner-ccte omega alfa grid_2"><a href="http://www.redu.com.br">ccte</a></li>
              <li class="partner-for omega alfa grid_2"><a href="http://www.redu.com.br">for</a></li>
            </ul>
          </div>    
        </div>
      </div>
      <div class="push"></div>
    </div>
  <div class="footer"> 
    <div class="container_16">
      <div class="imagens-inferior"> 
        <span class="zepi">Zepi</span>
        <span class="html5">html5</span>
      </div> 
      <h1 class="logo-bottom"><a href="http://www.redu.com.br">Redu</a></h1>
      <p class="presentation-call">Somos uma startup brasileira, recifense e estamos incubados pelo Porto Digital. Nossa equipe é composta por pessoas dedicadas e comprometidas com um objetivo em comum: desenvolver produtos que façam a diferença para uma educação mais acessível e universal.</p>
      <address class="our-address">Av. Barbosa Lima, 149, sala 413, Recife Brasil CNPJ: 12.359.885/0001-07</address>
      <ul class="about-redu">
        <li class="item-menu"><a href="http://blog.redu.com.br/">Visite nosso Blog</a></li>
        <li class="item-menu"><a href="http://blog.redu.com.br/">Página Inicial</a></li>
      </ul>
      <ul class="politics-terms">
        <li class="item-menu"><a href="http://blog.redu.com.br/">Termos de Uso</a></li>
        <li class="item-menu"><a href="http://blog.redu.com.br/">Política de Privacidade</a></li>
        <li class="item-menu"><a href="http://blog.redu.com.br/">Fale Conosco</a></li>
      </ul>
    </div>
  </div>
  </body>
</html>
