<div id="archive" style='margin: 10px 0 40px 0'>
  <h2>Arquivos</h2>
  <!--#FIXME: Devo Mudar lógica para o model? -->
  <%
    hash_archive = Post.all(:order => 'created_at DESC')
    group_years = hash_archive.group_by{ |p| p.created_at.year}
  %>
  <% group_years.keys.each do |key| %>
    <h3 style="margin:0.5em 0 0.5em 0"><%= key %></h3>
    <% group_years[key].group_by { |post| l post.created_at, :format=>('%B,%m')}.keys.each do |month| %>
      <h4 style='margin: 0 0 5px 0'><%= link_to month.split(',')[0], {:controller => :posts, :action => 'archive', :year=>key, :month => month.split(',')[1]} %></h4>
    <% end %>
  <% end %>
</div>
