<ul class="about-us">
  <h1 class="about-members"> Quem Somos </h1>
  <div class="users">
    <% User.all.each do |user| %>
      <li class="members">
        <%= link_to user.username, user.profile_link, :class => "link-members" %>
      </li>
      <q class="description grid_3">
        <%= user.description %>
      </q>
    <% end %>
  </div>
</ul>
<div class="stop">
  <%= link_to "Espera aím tem mais!", root_path, :class => "stop-here grid_3" %>
</div>

