<h1> Listing Posts </h1>


<% @posts.each do |post| %>
	<p><%= post.title %></p>

<% end %>

<%= link_to 'New post', new_post_path %>

<% if user_signed_in? %>
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %> 
<% else %>
<%= link_to 'Login', new_user_session_path %>
<% end %>
