<h1> Results </h1>
<ul>
<% @posts.each do |post| %>
	<li><%= link_to post.title, post %></li>
<% end %>
</ul>

<% if user_signed_in? %>
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to 'Login', new_user_session_path %>
<% end %>

<%= link_to 'Back', posts_path %>
