<p>Oi, <%= @resource.email %>!</p>

<p>
  Foi solicitada a redefinição de sua senha. Você pode alterá-la através do link
  abaixo.
</p>

<p>
  <%= link_to 'Redefinir minha senha', 
     edit_password_url(@resource, 
                       :reset_password_token => @resource.reset_password_token) %>
</p>

<p>
  Se você não solicitou esta redefinição, por favor, desconsidere esta mensagem.
</p>
<p>
  Sua senha não será alterada enquanto você não acessar o link acima e criar uma
  nova senha.
</p>
